#tasks {
  display: flex;
  flex-direction: column;
}

[type="checkbox"]:checked + span {
  color: green;
  text-decoration: line-through;
}

#tasks label {
  display: flex;
  justify-content: space-between;
}

.category {
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.category.estudo {
  background-color: cadetblue;
}

.category.lazer {
  background-color: blueviolet;
}

.category.trabalho {
  background-color: rgb(226, 43, 43);
}

#feedback {
  display: none;
  padding: 2%;
  border-radius: 20px;
  color: white;
}

#feedback.error {
  background-color: red;
  display: block;
}

#feedback.success {
  background-color: green;
  display: block;
}